<div class="crate_page">
    <h1 class="title">Thêm sản phẩm</h1>

    <form method="POST" id="info-form" action="/product/store" enctype="multipart/form-data">
        <div class="c-container">
            <div class="c-content w-50">
                <div class="form-floating">
                    <select name="type" class="form-select" id="type-product" required>
                        <option selected>Chọn loại sản phẩm muốn thêm </option>
                        <option value="Coffee">Coffee</option>
                        <option value="Tea">Tea</option>
                        <option value="Dishes">Món ăn</option>
                        <option value="Capsules">Capsules</option>
                        <option value="Machine">Thiết bị</option> 
                    </select>
                    <label for="type-product">Loại sản phẩm <span class="_required">*</span></label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Nhập tên sản phẩm" required>
                    <label for="name">Tên sản phẩm<span class="_required">*</span></label>
                </div>
                <div class="form-floating">
                    <select name="brand"class="form-select" id="brands" required>
                        <option selected>Chọn nhãn hàng</option>
                        <option value="Starbucks">Starbucks</option>
                        <option value="Gờ Coffee">Gờ Coffee</option>
                        <option value="Cheese Coffee">Cheese Coffee</option>
                        <option value="Phúc Long">Phúc Long</option>
                        <option value="VinaCafe">VinaCafe</option>
                        <option value="NesCafe">NesCafe</option>
                        <option value="Ông Bầu">Ông Bầu</option>
                        <option value="Chuk Chuk">Chuk Chuk</option>
                        <option value="Laha Coffee">Laha Coffee</option>
                        <option value="Katinat Coffee">Katinat Coffee</option>
                        <option value="Trạng Nguyên">Trạng Nguyên</option>
                    </select>
                    <label for="brands">Nhãn hàng <span class="_required">*</span></label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input name="date" type="date" class="form-control" id="date" placeholder="Nhập tên sản phẩm">
                    <label for="date">Ngày sản xuất</label>
                </div>
                <div class="form-floating mb-3 mt-3" >
                    <input name="price" type="text" class="form-control" id="price" placeholder="Nhập giá bán phẩm" required>
                    <label for="price">Giá bán sản phẩm <span class="_required">*</span></label>
                </div>
                <div class="form-floating mt-3">
                    <textarea name="description" class="form-control" placeholder="Leave a comment here" id="description" style="height: 100px"></textarea>
                    <label for="description">Mô tả về sản phẩm</label>
                </div>
        
                <div class="form-floating mt-3">
                    <textarea name="info" class="form-control" placeholder="Leave a comment here" id="info" style="height: 200px"></textarea>
                    <label for="info">Hướng dẫn về sản phẩm</label>
                </div>
            </div>
                <div class="c-image w-50 mt-3">
                    <input style="display: none;" class="-hidden-input" value="" />
                    <div id="image_preview">
                        <label class="preview" for="multiple-img">
                            <img class="disable" src="https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg" />
                        </label>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="multiple-img" class="form-label">Thêm hình ảnh sản phẩm</label>
                        <input name="images" class="form-control" type="file" id="multiple-img" multiple accept="image/png, image/jpeg, image/jpg">
                    </div>
                </div>
                <div class="w-100 mt-3 border-top pt-3">
                    <div class="btn btn-danger c-button float-start" id="clear-input">Clear</div>
                    <button type="submit" class="btn btn-success c-button">Thêm sản phẩm</button>
                </div>
            </div>
        </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    const imageInput = document.getElementById('multiple-img');
    const previewImages = document.getElementById('image_preview');
    const inputAll = document.querySelectorAll('input');
    const selectType = document.querySelector('#type-product');
    const selectBrand = document.querySelector('#brands');
    const textareaAll = document.querySelectorAll('textarea');
//  Preview image
    imageInput.addEventListener('change', function() {
    previewImages.innerHTML = '';
    const files = this.files;

    for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();

        reader.addEventListener('load', function() {
            const image = new Image();
            image.src = reader.result;
            const div = document.createElement('div')
            div.classList.add('preview')
            div.appendChild(image)
            previewImages.appendChild(div);

            image.addEventListener('click', function() {
            const newWindow = window.open();
            newWindow.document.write(`<img src="${this.src}" alt="${this.alt}">`);
        });
        });
        if (file) {
            reader.readAsDataURL(file);
        }
    }
    });
    
//    -- Clear input --
    $('#clear-input').click(() => {
        inputAll.forEach(input => {
            input.value = ""
        })
        selectType.value = 'Chọn loại sản phẩm muốn thêm'
        selectBrand.value = 'Chọn nhãn hàng'
        textareaAll.forEach(text => {
            text.value = ""
        })
        $('#image_preview').html('<label class="preview" for="multiple-img"><img class="disable" src="https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg" /></label>')
    })
//Submit multiple from 
    
    
   // function submitForm(idForm) {
       // const form = document.getElementById(idForm)
    //    const inputHidden = document.querySelector('.-hidden-input');
    //    const inputName = document.querySelector('#name');

     //   inputHidden.value = inputName.value
     //   form.submit()
   // }

</script>