*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 0;
  margin-top: 12px;
  color: #f88630;
}
